@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-Cyan: #00d8ff;
  --primary-color-Green: #00c484;
  --secondary-color-deep-teal: #007c66;
  --secondary-color-sky-blue: #a6f7ff;
  --neutral-color-charcol-gray: #222222;
  --neutral-color-light-gray: #f5f5f5;
  --accent-color-vibrant-blue: #0091ff;
  --accent-color-lime-green: #32e875;
}
